body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f1a752;
  }
  
  header{
    background-color: brown;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    color: white;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 10px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: none;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff6f6;
    font-size: 20px;
  }
  
  .artist-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }
  
  .artist {
    display: flex;
    gap: 10px;
    background-color: #fdf2e5;
    border: 2px solid #e0c3a3;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    align-items: flex-start;
  }
  
  .artist img {
    width: 200px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  .artist-info {
    flex: 1;
  }
  
  .artist-info h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #5c3d00;
  }
  
  .artist-info .info {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    display: none;
  }
  
  footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    border-top: 2px solid #ccc;
    width: 100%;
    margin-top: 160px;
  }
  
  footer p {
    margin: 0;
  }
  
  
  
  
  form {
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fffaf5;
    border: 2px solid #f4a460;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  }
  
  input,
  textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 9px;
    font-size: 15px;
  }
  
  button[type="submit"] {
    background-color: #d2691e;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button[type="submit"]:hover {
    background-color: #a0522d;
  }
  
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    vertical-align: middle;
    border-radius: 50%;
    object-fit: cover;
  }
  